# Deploy MySQL StatefulSet with Headless Service and Persistent Storage
# This YAML file defines a headless service named mysql that exposes port 3306 and selects Pods with the label app: mysql.
# It also defines a stateful set named "mysql" that uses the headless service, has one replica, and creates Pods with the label app: mysql.
# Each Pod has a container named mysql that runs the image mysql:8, sets some environment variables for MySQL configuration, exposes port 3306, and mounts a volume from the PVC template named mysql-pv-claim.
# Before applying this YAML file, you need to create a secret named mysql-root-password that contains the MySQL root password and a secret named mysql-user-password that contains the MySQL user password.

apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  selector:
    app: mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
  clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
spec:
  serviceName: "mysql"
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-root-password
                  key: password
            - name: MYSQL_ALLOW_EMPTY_PASSWORD
              value: "true" # for now
            - name: MYSQL_USER
              value: petclinic
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-user-password
                  key: password
            - name: MYSQL_DATA
              value: /var/lib/mysql
          ports:
            - containerPort: 3306
              name: mysql
          volumeMounts:
            - name: mysql-pv-claim
              mountPath: /var/lib/mysql
  volumeClaimTemplates:
    - metadata:
        name: mysql-pv-claim
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
    #  volumes:
    #     - name: mysql-pv-claim
    #       persistentVolumeClaim:
    #         claimName: mysql-data-pvc
