---
- name: Add Worker Node to K8S Cluster
  hosts: master
  become: yes
  tasks:
    - name: Get kubeadm join command
      command: kubeadm token create --print-join-command
      register: join_command
    
- name: Add worker node to the cluster
  hosts: workers
  become: yes
  tasks:
    - name: Execute join command
      command: "{{ hostvars[groups['masters'][0]].join_command.stdout }} --cri-socket unix:///var/run/cri-dockerd.sock  --ignore-preflight-errors=NumCPU,Mem"
    
    - name: Label node
      command: kubectl label node {{ ansible_hostname }} node-role.kubernetes.io/worker=worker
      delegate_to: "{{ groups['masters'][0] }}"
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf