---
- name: Deploy application manifests to Kubernetes cluster
  hosts: masters
  become: yes
  tasks:
    # - name: Copy k8s manifests to master node
    #   copy:
    #     src: ../argocd/
    #     dest: /home/ubuntu/argocd/
    #     owner: ubuntu
    #     group: ubuntu
    #     mode: '0644'

    - name: Apply ArgoCD manifest
      become_user: ubuntu
      command: |
        kubectl create namespace argocd
        kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
        kubectl apply -f https://raw.githubusercontent.com/nhahub/NHA-255/k8s-deployment/v1/tools/argocd/argocd.yaml
        wget https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.20.5/kubeseal-0.20.5-linux-amd64.tar.gz
        tar -xvf kubeseal-0.20.5-linux-amd64.tar.gz
        sudo mv kubeseal /usr/local/bin
        sudo chmod +x /usr/local/bin/kubeseal
        rm kubeseal-0.20.5-linux-amd64.tar.gz
        kubectl apply -f https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.20.5/controller.yaml
        kubectl create secret generic mysql-root-password --from-literal=password=admin123 --dry-run=client -o yaml > mysql-root-secret.yaml
        kubectl create secret generic mysql-user-password --from-literal=password=admin --dry-run=client -o yaml > mysql-user-secret.yaml
        kubeseal --fetch-cert > publickey.pem
        kubeseal --format=yaml --cert=publickey.pem < mysql-root-secret.yaml > sealed-mysql-root-secret.yaml
        kubeseal --format=yaml --cert=publickey.pem < mysql-user-secret.yaml > sealed-mysql-user-secret.yaml
        kubectl apply -f sealed-mysql-root-secret.yaml
        kubectl apply -f sealed-mysql-user-secret.yaml
        rm -f mysql-root-secret.yaml mysql-user-secret.yaml 
    # - name: Apply MySQL storage manifest
    #   become_user: ubuntu
    #   command: kubectl apply -f /home/ubuntu/k8s-manifests/mysql-storage.yaml

    # - name: Apply MySQL StatefulSet manifest
    #   become_user: ubuntu
    #   command: kubectl apply -f /home/ubuntu/k8s-manifests/mysql-ss.yaml

    # - name: Wait for MySQL pod to be ready
    #   become_user: ubuntu
    #   command: kubectl wait --for=condition=ready pod -l app=mysql --timeout=300s

    # - name: Apply Pet Clinic deployment manifest
    #   become_user: ubuntu
    #   command: kubectl apply -f /home/ubuntu/k8s-manifests/pet-clinic-deploy.yaml

    # - name: Apply Pet Clinic service manifest
    #   become_user: ubuntu
    #   command: kubectl apply -f /home/ubuntu/k8s-manifests/pet-clinic-s.yaml

    # - name: Wait for Pet Clinic deployment to be ready
    #   become_user: ubuntu
    #   command: kubectl wait --for=condition=available deployment/petclinic --timeout=300s

    # - name: Get all pods status
    #   become_user: ubuntu
    #   command: kubectl get pods -o wide
    #   register: pods_output

    # - name: Display pods status
    #   debug:
    #     msg: "{{ pods_output.stdout_lines }}"

    # - name: Get service details
    #   become_user: ubuntu
    #   command: kubectl get svc
    #   register: svc_output

    # - name: Display services
    #   debug:
    #     msg: "{{ svc_output.stdout_lines }}"
