---
- name: Deploy application manifests to Kubernetes cluster
  hosts: masters
  become: yes
  tasks:
    - name: Install AWS EBS CSI Driver
      become_user: ubuntu
      command: |
        kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=release-1.28"

    - name: Apply ArgoCD manifest
      become_user: ubuntu
      command: |
        kubectl create namespace argocd
        kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
        kubectl apply -f https://raw.githubusercontent.com/nhahub/NHA-255/k8s-deployment/v1/tools/argocd/argocd.yaml

    - name: Setup Sealed Secrets
      become_user: ubuntu
      command: |
        wget https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.20.5/kubeseal-0.20.5-linux-amd64.tar.gz
        tar -xvf kubeseal-0.20.5-linux-amd64.tar.gz
        sudo mv kubeseal /usr/local/bin
        sudo chmod +x /usr/local/bin/kubeseal
        rm kubeseal-0.20.5-linux-amd64.tar.gz
        kubectl apply -f https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.20.5/controller.yaml

    - name: Create and apply sealed secrets for MySQL DataBase
      become_user: ubuntu
      command: |
        kubectl create secret generic mysql-root-password --from-literal=password=admin123 --dry-run=client -o yaml > mysql-root-secret.yaml
        kubectl create secret generic mysql-user-password --from-literal=password=admin --dry-run=client -o yaml > mysql-user-secret.yaml
        kubeseal --fetch-cert > publickey.pem
        kubeseal --format=yaml --cert=publickey.pem < mysql-root-secret.yaml > sealed-mysql-root-secret.yaml
        kubeseal --format=yaml --cert=publickey.pem < mysql-user-secret.yaml > sealed-mysql-user-secret.yaml
        kubectl apply -f sealed-mysql-root-secret.yaml
        kubectl apply -f sealed-mysql-user-secret.yaml

    - name: Clean up temporary secret files
      become_user: ubuntu
      command: |
        rm -f mysql-root-secret.yaml mysql-user-secret.yaml publickey.pem
